/* register.php and login.php */

*{
    margin: 0;
    padding: 0;
}

.register{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
   

}

.register input{
    padding: 10px;
    margin: 5px;
    border:none;
    border-bottom: 2px solid rgb(75, 28, 61);
}

.register button{
     display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: rgb(75, 28, 61);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.register button:hover{
    background-color: rgb(120, 45, 80);
}



